<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghj.rest.mapper.SystemMessageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ghj.rest.entity.SystemMessage">
        <id column="id" property="id" />
        <result column="from_user_id" property="fromUserId" />
        <result column="to_user_id" property="toUserId" />
        <result column="send_time" property="sendTime" />
        <result column="status" property="status" />
        <result column="content" property="content" />
        <result column="to_group_id" property="toGroupId" />
        <result column="from_friend_group_id" property="fromFriendGroupId" />
        <result column="remark" property="remark" />
        <result column="handle_result" property="handleResult" />
    </resultMap>

</mapper>
