<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghj.rest.mapper.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ghj.rest.entity.User">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="nick_name" property="nickName" />
        <result column="pass_word" property="passWord" />
        <result column="signature" property="signature" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="telephone" property="telephone" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="intro" property="intro" />
        <result column="head_portrait" property="headPortrait" />
        <result column="zodiac" property="zodiac" />
        <result column="age" property="age" />
        <result column="constellation" property="constellation" />
        <result column="blood_type" property="bloodType" />
        <result column="school_tag" property="schoolTag" />
        <result column="vocation" property="vocation" />
        <result column="nation_id" property="nationId" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="user_state_id" property="userStateId" />
        <result column="friendship_policy_id" property="friendshipPolicyId" />
        <result column="friend_policy_question" property="friendPolicyQuestion" />
        <result column="friend_policy_answer" property="friendPolicyAnswer" />
        <result column="friend_policy_password" property="friendPolicyPassword" />
    </resultMap>

</mapper>
